<div class="center hero-unit">
    <h1>Welcome to the Koodle Hub</h1>

    <h2>
        This is the home page for the
        <a href="http://koodlehub.com/">Koodle Hub</a> baby
        application.
    </h2>

    <%= link_to "Sign up now!", signup_path,
                class: "btn btn-large btn-primary" %>
</div>