<footer class="footer">
    <small>
        <a href="http://koodlehub.com/">KoodleHub Baby</a>
        by Koodle Noodle
    </small>
    <nav>
        <ul>
            <li><%= link_to "About",   about_path %></li>
            <li><%= link_to "Contact", contact_path %></li>
            <li><a href="http://news.koodlehub.com/">News</a></li>
        </ul>
    </nav>
</footer>